/* Sidebar Style */
.monaco-list::before {
  display: none !important;
}
.monaco-workbench .part.sidebar .title-actions .actions-container {
  justify-content: space-evenly !important;
}
.monaco-workbench ::selection {
  background-color: transparent !important;
}
.sidebar {
  border: none !important;
}

/* Sidebar Title */
.title-label {
  display: none !important;
}

/* Sidebar Positioning */
.explorer-folders-view {
  margin-top: 30px !important;
}

/* Editor and Explorer Top Right Menu */
.editor-actions {
  display: none !important;
}
.composite.title {
  display: none !important;
}

/* Scroll Decorations on Editor (Error, Warning, etc.) */
.decorationsOverviewRuler {
  display: none !important;
}

/* Scroll Decorations on Terminal (Error, Warning, etc.) */
.xterm-decoration-overview-ruler {
  display: none !important;
}

/* Command Input on Quick Open */
.quick-input-widget .quick-input-titlebar {
  display: none !important;
}

/* Editor Tabs */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit {
  width: auto !important;
}
.monaco-icon-label-container {
  padding-right: 3px !important;
}
.tab-actions {
  margin-left: -5px !important;
}
.tab {
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
  border-radius: 10px !important;
}
.tab.active.selected {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border: none !important;
}
.tabs {
  background-color: rgba(255, 255, 255, 0) !important;
  margin: 5px !important;
}
.tabs-and-actions-container {
  background-color: transparent !important;
}

/* Terminal Tabs */
.shell-integration.integrated-terminal .tabs-list-container {
  margin: 5px !important;
}
.shell-integration.integrated-terminal .monaco-list-row {
  border-radius: 5px !important;
}
.shell-integration.integrated-terminal .monaco-list-row.selected {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border: none !important;
}

/* Terminal Height Fix */
.basepanel > .content,
.xterm-screen {
  height: 100vh !important;
}
.basepanel > .content {
  margin-top: 20px !important;
}

/* Homepage UI */
.editor-group-watermark .letterpress {
  background-image: url('./logo.png'), url('https://raw.githubusercontent.com/BosEriko/vs/master/logo.png') !important;
}
.editor-group-watermark .shortcuts {
  display: none !important;
}
